.holmes-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.holmes-is-mobile .holmes-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.holmes-app-name {
  margin-left: 8px;
}

.holmes-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.holmes-is-mobile .holmes-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

#holmes-inner-container {
  padding: 16px;
}

#holmes-display-container {
  padding: 0.1px 0 64px 0;
  text-align: center;
  color: #0D47A1;
  background-color: #E3F2FD;
}

#holmes-display h2 {
  margin: 50px 0 10px 0;
  font-size: 64px;
}

#holmes-display p {
  margin: 0;
  padding: 0 5vw;
  font-size: 24px;
  line-height: 1.05;
}

footer {
  height: 12vh;
  background-color: #1976D2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  padding: 0;
  margin: auto;
  font-size: 24px;
  text-align: center;
  line-height: 1.05;
}
