mat-toolbar a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

mat-toolbar a:not(:first-of-type) {
  margin-bottom: -6px;
}

mat-toolbar a[districts-link] {
  margin-left: 24px;
}

main {
  padding: 16px;
}

#holmes-display-container {
  padding: 0.1px 0 16px 0;
  text-align: center;
  color: #0D47A1;
  background-color: #E3F2FD;
}

#holmes-display h1 {
  margin: 50px 0 10px 0;
  font-weight: bold;
  font-size: 64px;
}

#holmes-display p {
  margin: 0;
  padding: 0 5vw;
  font-size: 24px;
  line-height: 1.05;
}

footer {
  height: 12vh;
  background-color: #1976D2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  padding: 0;
  margin: auto;
  font-size: 24px;
  text-align: center;
  line-height: 1.05;
}
