<mat-toolbar color="primary" role="navigation">
  <a routerLink="." mat-icon-button aria-hidden="true" tabindex="-1">
    <mat-icon>home</mat-icon>
  </a>
  <a routerLink="." mat-button>{{title}}</a>
  <a routerLink="/districts" mat-button districts-link>Districts</a>
</mat-toolbar>

<main>
  <div id="holmes-display-container">
    <div id="holmes-display">
      <h1>{{title}}</h1>
      <p>Welcome to {{title}}!!! Your Real Estate</p>
      <p *ngIf="isHomePage">At {{title}}, we have various districts and streets you can live in. View them...</p>
    </div>
  </div>
  <router-outlet></router-outlet>
</main>

<footer>
  <p>All Rights Reserved &copy;2020<br>{{title}}</p>
</footer>
