<section>
  <h2>Districts</h2>
  <div id="district-container">
    <mat-expansion-panel *ngFor="let district of districts">
      <mat-expansion-panel-header>
        <mat-panel-title>{{district.name}}</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Streets in {{district.name}}</p>
      <mat-list>
        <ng-container *ngFor="let street of findStreets(district.id)">
          <mat-list-item>{{street.name}}</mat-list-item>
        </ng-container>
      </mat-list>
    </mat-expansion-panel>
  </div>
</section>
