section {
  margin: 4vh 2vw;
  padding: 16px;

  h2 {
    color: #0D47A1;
    font-size: 48px;
  }

  #district-container {
    margin: 0;
    padding: 0;
  }

  mat-expansion-panel {
    margin-bottom: 16px;
  }

  mat-panel-title {
    font-weight: bold;
  }
}

@media screen and (min-width: 576px) {
  #district-container {
    display: grid;
    grid-gap: 48px;
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 992px) {
  #district-container {
    display: grid;
    grid-gap: 64px;
    grid-template-columns: auto auto auto auto;
  }
}
